<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='stylesheet' href='http://www.standishsalongoods.com/assets/templates/standish/style/main.css' />
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" />
	</head>
	<body>

		<div class="hello">
			<div class="container_12">
				<div class="grid_8 hbar_content"></div>
				<div class="grid_3">
					<p class="right-hello"><span class="coral-text">Need Help?</span> Call <span class="bold">888.271.8434</span></p>
				</div>
			</div>
		</div>

		<div class="container_12">
			<div class="grid_12">

				<h1><%= title %></h1>

				<h3>Published Spot</h3>
				<div class="hello_preview">
					<div class="container_12">
						<div class="grid_8 hbar_published"></div>
						<div class="grid_3">
							<p class="right-hello"><span class="coral-text">Need Help?</span> Call <span class="bold">888.271.8434</span></p>
						</div>
					</div>
				</div>

				<h3>Spot Editor</h3>
				<form action="/" method="post">
					Title: <input type="text" value="<%= editor_name %>" name="name" id="name" /> <span class="title_message">(1 word, no spaces please)</span><br />
					<textarea name="markup" id="markup"><%= editor_code %></textarea><br />
					<button id="save_and_test">Save &amp; Test</button>
				</form>

				<!-- <textarea><%- JSON.stringify( bars ) %></textarea> -->

				<h3>Available Spots</h3>
				<% for(var i=0; i<Object.keys( bars ).length; i++) {%>
					<div class="saved_bar">
						<h4><%= Object.keys(bars)[i] %></h4>
						<div class="buttons">
							<button class="edit" data-key="<%= Object.keys(bars)[i] %>">Edit</button>
							<form action="/delete" method="post" onsubmit="return confirm('This is permanent, Are you sure?');">
								<input type="hidden" name="bar" value="<%= Object.keys(bars)[i] %>" />
								<button class="formbutton">Delete</button>
							</form>
							<form action="/test" method="post">
								<input type="hidden" name="bar" value="<%= Object.keys(bars)[i] %>" />
								<button class="formbutton">Test</button>
							</form>
							<form action="/publish" method="post">
								<input type="hidden" name="bar" value="<%= Object.keys(bars)[i] %>" />
								<button class="formbutton">Publish</button>
							</form>
						</div>

						<div class="clearboth"></div>

						<div class="hello_preview <%= Object.keys(bars)[i] %>">
							<div class="container_12">
								<div class="grid_8">
									<%- bars[Object.keys(bars)[i]] %>
								</div>
								<div class="grid_3">
									<p class="right-hello"><span class="coral-text">Need Help?</span> Call <span class="bold">888.271.8434</span></p>
								</div>
							</div>
						</div>
					</div>
				<% } %>

				<div class="clearboth"></div>
				<br /><br /><br /><br />
			</div>
		</div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script>
			$('#save_and_test').on('click', function( e ) {
				if( $('#name').val() === '' ) {
					$('.title_message').css({'font-size':'17px'}).animate({'font-size':'16px'}, 200);
					$('.title_message').text( 'Please give your spot a name! (No spaces please)');
					e.preventDefault();
				}
			});
			// testing bar at the top
			$.getJSON( "/test_bar.json", function( data ) {
				console.log( data.content );
				$('.hbar_content').html( data.content );
			});
			// published bar
			// @todo use the path from process.env
			$.getJSON( "//hyprtxt.com/standish/data.json", function( data ) {
				console.log( data.content );
				$('.hbar_published').html( data.content );
			});
			// Hellobar Animation
			$('.hello').delay(200).animate({'top': '0'});
			$('.edit').on('click', function( e ){
				var key = $( e.target ).data('key');
				$( '#name' ).val( key )
				$( '#markup' ).text( $( '.' + key ).find('.grid_8').html().trim() );
				$("html, body").animate({ scrollTop: 0 }, "slow");
			});
		</script>
	</body>
</html>
